# application.yml
server:
  port: 8082
  servlet:
    context-path: /regProduct
    #ssl:
    # key-store: classpath:sslProperties.jks
    #key-store-password: ms801
    #key-password: ms801
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/kafka_project
    username: root
    password: chyShivam@lr
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  threads:
    virtual:
      enabled: true
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

